# Created by .ignore support plugin (hsz.mobi)
/SpringBootSpringSecurityOAuth2.iml
/distributed_security_uaa/distributed_security_uaa.iml
/.idea/
/distributed_security_order/distributed_security_order.iml
